VITE_API_URL=http://localhost:8080
VITE_FIREBASE_API_KEY=AIzaSyBGGnqufgq2lfIUmUofdelP_ONKq9Z4ntY
VITE_FIREBASE_AUTH_DOMAIN=gdpr-a1105.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gdpr-a1105
VITE_FIREBASE_STORAGE_BUCKET=gdpr-a1105.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=811146242431
VITE_FIREBASE_APP_ID=1:811146242431:web:5aa3637071d3035e5b524a


# VITE_API_URL=http://localhost:8080
# VITE_FIREBASE_API_KEY=AIzaSyBDazWdhjbtp-8m4OiVjlUtFGyGmRhzWGU
# VITE_FIREBASE_AUTH_DOMAIN=gdpr-2c14a.firebaseapp.com
# VITE_FIREBASE_PROJECT_ID=gdpr-2c14a
# VITE_FIREBASE_STORAGE_BUCKET=gdpr-2c14a.firebasestorage.app
# VITE_FIREBASE_MESSAGING_SENDER_ID=1045212482370
# VITE_FIREBASE_APP_ID=1:1045212482370:web:928a3a3ed3a92c8a74d6db


# // For Firebase JS SDK v7.20.0 and later, measurementId is optional
# const firebaseConfig = {
#   apiKey: "AIzaSyBGGnqufgq2lfIUmUofdelP_ONKq9Z4ntY",
#   authDomain: "gdpr-a1105.firebaseapp.com",
#   projectId: "gdpr-a1105",
#   storageBucket: "gdpr-a1105.firebasestorage.app",
#   messagingSenderId: "811146242431",
#   appId: "1:811146242431:web:5aa3637071d3035e5b524a",
#   measurementId: "G-RVRKYG1HHH"
# };-e 
# Static token for local admin login (must match ADMIN_SECRET_TOKEN in backend/.env)
VITE_ADMIN_SECRET_TOKEN=gdpr-admin-secret-2025
